@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .sidebar-container {
      @apply fixed top-0 left-0
      flex flex-col h-screen
      overflow-y-scroll
      w-1/6 bg-zinc-900 shadow-lg;

    }

    .chat-container {
      @apply fixed top-0 left-[75%]
      flex flex-col h-screen
      overflow-y-scroll
      w-1/4 bg-zinc-900 shadow-lg;
    }

    .signin-button {
      @apply p-5 bg-zinc-700 w-[90%] active:bg-indigo-600
    text-white rounded-xl mt-36
    }

    .signin-form {
      @apply w-[90%] bg-zinc-700 h-[6%] p-3 mx-auto rounded-lg my-[3%]
      text-white
    }

    .subscription-item {
      @apply  flex flex-row h-[6%] w-11/12
      bg-zinc-800
      hover:bg-orange
      mx-auto
      my-[7px]
      hover:rounded-xl rounded-3xl
      shadow-lg
      transition-all duration-100 ease-linear
      ;
    }

    .scroll-container {
        @apply h-60 ml-[16.67%] w-5/6 flex mb-24
    }

    .scroll-container:hover .scroll-item {
        transform: translateX(-10%);
    }

    .scroll-item:hover ~ .scroll-item {
        transform: translateX(10%);
    }

    .scroll-item:hover {
        transform: scale(1.2) !important;
    }

    .scroll-item {
        transition: transform 200ms ease 100ms;
        @apply object-contain w-full max-h-48 mx-2 text-white
    }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
